
* {background-color: #aab;}
body{display: flex; align-items: center;}
input {font-size: 16px; width: auto;}
.readout{border:none;cursor:default;width:70px;}
/* svg {border:solid black 1px;} */
#clickSpan, #cellDetail {display: block;width: 450px;text-align: center;margin-left: 80px;}
h4 {text-align: center;}
#controlsDiv{padding:30px;}
.slideLabel {display: inline-block;width:190px;text-align: right;}
#controlsDiv div {border: 1px solid black;padding:10px;margin: 15px;}

@media screen and (max-width:1000px){
    body{flex-flow: column;}
}